<div data-ng-controller="adminSyncCtrl">

    <div class="brick w-200un fs-4un fh-8un">Synchronization</div>
    <div class="brick w-200un fs-3un fh-4un"><a href="#!/">Back to Main page</a></div>
    <div class="brick w-200un">
        <div class="brick w-100un">
            <div data-ng-bind="'Last synchronization: ' + lastSyncDate" class="brick hidenizr w-100un h-6un fh-6un fs-3un"></div>
        </div>
        <div class="brick w-100un">
            <button class="brick w-30un h-6un fs-3un" data-ng-click="sync( )">Sync now</button>
            <div class="brick w-20un h-6un"></div>
            <div class="brick w-50un h-6un" data-dairynet-progress="{{ progress }}"></div>
        </div>
    </div>
    <div class="brick w-200un">
        <div class="brick w-100un">
            <label class="brick w-100un">
                <div class="brick w-50un h-6un fh-6un fs-3un">Sync mode</div>
                <select class="brick w-30un h-6un fh-6un fs-3un" data-ng-model="mode">
                    <option value="0">manual</option>
                    <option value="1">scheduled</option>
                    <option value="2">upon event</option>
                </select>
            </label>
        </div>
        <div class="brick w-100un">
            <div class="brick w-100un" data-ng-show="mode == 1" style="border: 1px solid #000;">
                <div class="brick w-100un h-6un fh-6un fs-3un">Schedule</div>
                <div class="brick w-30un">
                    <label class="brick w-30un fh-6un fs-3un"><input name="interval" type="radio">daily</label>
                    <label class="brick w-30un fh-6un fs-3un"><input name="interval" type="radio" checked>weekly</label>
                    <label class="brick w-30un fh-6un fs-3un"><input name="interval" type="radio">monthly</label>
                </div>
                <div class="brick w-69un">
                    <label class="brick w-70un fh-6un fs-3un">
                        <div class="brick fh-6un fs-3un">every</div>
                        <div class="brick w-1un h-6un fh-6un fs-3un"></div>
                        <input class="brick w-6un h-6un fh-4un fs-3un" type="text" style="text-align: center;">
                        <div class="brick w-1un h-6un fh-6un fs-3un"></div>
                        <div class="brick fh-6un fs-3un">week each</div>
                    </label>
                    <label class="brick fh-6un fs-3un"><input name="weekday" type="checkbox">Monday</label>
                    <label class="brick fh-6un fs-3un"><input name="weekday" type="checkbox">Tuesday</label>
                    <label class="brick fh-6un fs-3un"><input name="weekday" type="checkbox">Wednesday</label>
                    <label class="brick fh-6un fs-3un"><input name="weekday" type="checkbox">Thursday</label>
                    <label class="brick fh-6un fs-3un"><input name="weekday" type="checkbox">Friday</label>
                    <label class="brick fh-6un fs-3un"><input name="weekday" type="checkbox">Saturday</label>
                    <label class="brick fh-6un fs-3un"><input name="weekday" type="checkbox">Sunday</label>
                </div>
            </div>
        </div>
    </div>
    <div class="brick w-200un">
        <div class="brick w-100un">
            <div class="brick w-100un h-6un fh-6un fs-3un">Sync Journal</div>
            <table class="brick w-100un h-50un fs-3un" style="border: 1px solid #000; overflow-y: auto;">
                <tbody>
                <tr>
                    <td style="width: 25%;">Date</td>
                    <td style="width: 25%;">State</td>
                    <td style="width: 25%;">Conflict</td>
                    <td style="width: 25%;">Synced elements</td>
                </tr>
                <tr data-ng-repeat="item in groupData" data-ng-click="select(item['date'])">
                    <td style="width: 25%;" data-ng-bind="item['viewDate']"></td>
                    <td style="width: 25%;" data-ng-bind="item['state']"></td>
                    <td style="width: 25%;" data-ng-bind="item['conflict']"></td>
                    <td style="width: 25%;" data-ng-bind="item['synced']"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="brick w-100un">
            <div class="brick w-100un h-6un fh-6un fs-3un">Sync Details</div>
            <table class="brick w-100un h-50un fs-3un" style="border: 1px solid #000; overflow-y: auto;">
                <tbody>
                <tr data-ng-repeat="(key, group) in list( ) | groupBy: 'type'">
                    <td>
                        {{ key }}
                        <ul>
                            <li data-ng-repeat="item in group">{{ item.id }}</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>